---
Language:        Cpp
BasedOnStyle:  LLVM
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossComments
AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
IndentWidth:     2
...
